<header class="site-header">
    <div class="navbar navbar-light bg-light navbar-fixed-top navbar-expand-md" role="navigation">
	<div class="container">
           <a class="navbar-brand" href="/">{{ .Site.Title }}</a>
	   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
           </button>
            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="nav navbar-nav">
		    {{ $url := .URL | relLangURL }}
		    {{ range .Site.Menus.main }}
		        {{ if eq $url (.URL | relLangURL) }}<li class="nav-item active">{{ else }}<li class="nav-item">{{ end }}
                            <a class="nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                </ul>
            </div>
	 </div>
    </div>
</header>
